<div class="add-book-form-container">
  <h2>Add a new book</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Title:</label>
      <input [(ngModel)]="book.title" name="title" required>
    </div>
    <div class="form-group">
      <label>Year:</label>
      <input type="number" [(ngModel)]="book.year" name="year" required>
    </div>
    <div class="form-group">
      <label>Author (name and surname):</label>
      <input [(ngModel)]="book.authorName" name="authorName" required>
    </div>
    <div class="form-group">
      <label>Publisher:</label>
      <input [(ngModel)]="book.publisherName" name="publisherName" required>
    </div>
    <div class="form-group">
      <label>Categories (comma separated):</label>
      <input [(ngModel)]="book.categoryNames" name="categoryNames" placeholder="e.g. Epopeja, Rozwój osobisty">
    </div>
    <button type="submit">Add Book</button>
  </form>
</div>
